

 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>ビューティシャンユーザーの新規登録がありました。</h1>
    <p>【登録内容】</p>
    <br>

    <p>・登録カテゴリ：　<%= Category.find(@buser.category_id).name %></p>

    <p>・ユーザーID：　<%= @buser.id %></p>
    <p>・ユーザー名：　<%= @buser.name %></p>
    <p>・氏名：　<%= @buser.family_name %> <%= @buser.first_name %> (<%= @buser.family_name_kana %> <%= @buser.first_name_kana %>)</p>
    
    <% if @buser.gender = 0 %>
      <p>・性別：　女性</p>
    <% else %>
      <p>・性別：　男性</p>
    <% end %>
    <p>・生年月日：　<%= @buser.birth %></p>

    <p>・電話番号：　<%= @buser.tel %></p>
    <p>・メールアドレス：　<%= @buser.email %></p>

    <p>・住所：　〒<%= @buser.postal_code %> <%= JpPrefecture::Prefecture.find(code: @buser.prefecture_code).try(:name) %> <%= @buser.city %> <%= @buser.street %></p>
    
    <%= link_to "ユーザーとのチャットを開く", "http://localhost/business_users/#{@buser.id}"%>

  </body>
</html>