<!DOCTYPE html>
<html lang="en">
  <body style="padding-top: 72px;">

    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 me-lg-auto">
            <div class="card border-0 shadow mb-6 mb-lg-0">
              <div class="card-header bg-gray-100 py-4 border-0 text-center">
              <a class="d-inline-block" href="#">
              

              <% if @user.image.url.nil? %>
                <%= image_pack_tag "default_user_image.png", :class => "d-block avatar avatar-xxl p-2 mb-2" %>
              <% else %>
                <%= image_tag @user.image.url, :class => "d-block avatar avatar-xxl p-2 mb-2" %>
              <% end %>
              
              </a>
                <h5><%= @user.name %></h5>
                <p class="text-muted text-sm mb-0">
                東京都
                </p>
              </div>

            </div>
          </div>
          
          <div class="col-lg-9 ps-lg-5">
            <h1 class="hero-heading mb-0">Profile</h1>
            <div class="text-block">
              <p> <span class="badge badge-secondary-light">Joined in <%= @user.created_at.strftime('%Y年%m月') %></span></p>
              <p class="text-muted"><%= @user.self_introduction %></p>

              <% if current_user != @user %>
                <%= link_to 'chatを始める', chat_path(@user.id)%>
              <% end %>

            </div>

            <div class="text-block">
              <h4 class="mb-5">お気に入りビューティシャン</h4>
              <div class="row">
                
                <% @user.favorited_business_users.each do |buser| %>

                <!-- place item-->
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="img/photo/photo-1484154218962-a197022b5858.jpg" /><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-bottom z-index-20">
                        <div class="d-flex text-white text-sm align-items-center"><img class="avatar avatar-border-white flex-shrink-0 me-2" src="img/avatar/avatar-0.jpg" alt="Pamela"/>
                          <div>Pamela</div>
                        </div>
                      </div>
                      <div class="card-img-overlay-top text-end"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                          <svg class="svg-icon text-white">
                            <use xlink:href="#heart-1"> </use>
                          </svg></a></div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html"><%= buser.name %></a></h6>
                        <div class="d-flex card-subtitle mb-3">
                          <p class="flex-grow-1 mb-0 text-muted text-sm"><%= buser.name %></p>
                          <p class="flex-shrink-1 mb-0 card-stars text-xs text-end"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                          </p>
                        </div>
                        <p class="card-text text-muted"><span class="h4 text-primary">¥<%= buser.name %></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>

              </div>
            </div>


            <div class="text-block">
              <h4 class="mb-5">募集中の投稿</h4>
              <div class="row">
                
                <% @user.recruits.each do |r| %>

                <!-- place item-->
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <img class="img-fluid" src="img/photo/photo-1484154218962-a197022b5858.jpg" /><a class="tile-link" href="detail-rooms.html"></a>
                      <div class="card-img-overlay-bottom z-index-20">
                        <div class="d-flex text-white text-sm align-items-center"><img class="avatar avatar-border-white flex-shrink-0 me-2" src="img/avatar/avatar-0.jpg" alt="Pamela"/>
                          <div>Pamela</div>
                        </div>
                      </div>
                      <div class="card-img-overlay-top text-end"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                          <svg class="svg-icon text-white">
                            <use xlink:href="#heart-1"> </use>
                          </svg></a></div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><a class="text-decoration-none text-dark" href="detail-rooms.html"><%= r.content %></a></h6>
                        <div class="d-flex card-subtitle mb-3">
                          <p class="flex-grow-1 mb-0 text-muted text-sm"><%= r.content %></p>
                          <p class="flex-shrink-1 mb-0 card-stars text-xs text-end"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                          </p>
                        </div>
                        <p class="card-text text-muted"><span class="h4 text-primary">¥<%= r.content %></span></p>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>

              </div>
            </div>



            <div class="text-block">
              <p class="subtitle text-sm text-primary">Reviews    </p>
              <h5 class="mb-4">ユーザーレビュー </h5>

              <div class="d-flex d-block d-sm-flex review">

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>

    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>

  </body>
</html>