<!-- Navbar-->
      <nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-primary">
        <div class="container-fluid">
          <div class="d-flex align-items-center"><%= link_to image_pack_tag("media/images/logo.svg", alt:"Re I beauty"), "/", class:"navbar-brand py-1"%>



          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
          
          <!-- Navbar Collapse -->
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <div class="input-label-absolute input-label-absolute-left input-expand ms-lg-2 ms-xl-3"> 
                <label class="label-absolute" for="search_search"><i class="fa fa-search"></i><span class="sr-only">検索するキーワードを入力</span></label>
                <%= f.text_field :keyword, value: @keyword, class:"form-control form-control-sm border-0 shadow-0", placeholder:"検索" %>
                <%= f.submit class:"btn btn-primary text-secondary rounded-pill h-100", style: "display:none;" %>
              </div>
            <% end %>
            <ul class="navbar-nav ms-auto">



              <% if user_signed_in? %>
              <!-- ユーザーとしてログインしている時 -->
                  <li class="nav-item dropdown ms-lg-3">
                  <a class="nav-link dropdown-toggle text-secondary" id="userDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <%#= image_pack_tag current_user.image, :class => "avatar avatar-sm avatar-border-white me-2" %>
                   ユーザーメニュー
                   </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenuLink">
                    <%= link_to 'マイアカウント',  accounts_show_path, class:"dropdown-item" %>
                    <%= link_to 'マイプロフィール',  mypage_path, class:"dropdown-item" %>
                    <%= link_to '予約確認',  your_reserves_path, class:"dropdown-item" %>
                    <%= link_to 'チャットメニュー',  rooms_path, class:"dropdown-item" %>
                    <%= link_to '設定', edit_user_registration_path, class:"dropdown-item" %>
                      <div class="dropdown-divider"></div><%= link_to 'ログアウト', destroy_user_session_path, method: "delete", class:"dropdown-item" %>
                    </div>
                  </li>

              <!-- ビューティシャンとしてログインしている時 -->
              <% elsif business_user_signed_in? && current_business_user.try(:cert?) %>
                  <li class="nav-item dropdown ms-lg-3">
                  <a class="nav-link dropdown-toggle text-secondary" id="userDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <%#= image_pack_tag current_user.image, :class => "avatar avatar-sm avatar-border-white me-2" %>
                   ビューティシャンメニュー
                   </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenuLink">
                    <%= link_to 'マイアカウント',  buser_accounts_show_path, class:"dropdown-item" %>
                    <%= link_to 'マイプロフィール',  buser_mypage_path, class:"dropdown-item" %>
                    
                      <%= link_to 'メニューを登録', new_post_path, class:"dropdown-item" %>
                    
                    <%= link_to 'チャットメニュー', business_users_rooms_path, class:"dropdown-item" %>
                    <%= link_to '設定', edit_business_user_registration_path, class:"dropdown-item" %>
                      <div class="dropdown-divider"></div><%= link_to 'ログアウト', destroy_business_user_session_path, method: "delete", class:"dropdown-item" %>
                    </div>
                  </li>


              <!-- ビューティシャンとしてログインしている　&　承認前のとき-->
              <% elsif  business_user_signed_in?%>
              <li class="nav-item dropdown ms-lg-3">
                  <a class="nav-link dropdown-toggle text-secondary" id="userDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   <%#= image_pack_tag current_user.image, :class => "avatar avatar-sm avatar-border-white me-2" %>
                   ビューティシャンメニュー
                   </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownMenuLink">
                    <%= link_to 'チャットを開く',  business_users_rooms_path, class:"dropdown-item" %>
                  
                      <div class="dropdown-divider"></div><%= link_to 'ログアウト', destroy_business_user_session_path, method: "delete", class:"dropdown-item" %>
                    </div>
                  </li>
              
              <% else %>
              <!-- ユーザーとしてログインしていない時 -->
                  <li class="nav-item"><%= link_to 'ユーザー登録・ログイン', new_user_registration_path, class:"nav-link text-secondary" %></li>
                  <!-- <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class:"nav-link" %></li> -->
              <!-- ビューティシャンとしてログインしていない時 -->
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle text-secondary" id="homeDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ビューティシャンメニュー</a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="docsDropdownMenuLink">
                      <a class="dropdown-item" href="/pages/business_user_register">ビューティシャン登録</a>
                      <%= link_to 'ビューティシャンログイン', new_business_user_session_path, class:"dropdown-item" %>
                  </li>

              <% end %>




              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " id="docsDropdownMenuLink" href="<%= business_users_path %>" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   施術者を探す</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="docsDropdownMenuLink">
                  <%= link_to '一覧で見る', "/business_users", class:"dropdown-item" %>
                <div class="dropdown-divider"></div>

                  <% @categories.each do |category| %>
                    <%= link_to category.name, pickup_path(category_id: category.id), class: "dropdown-item" %>
                  <% end %>
                  
                </div>
              </li>

              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" id="homeDropdownMenuLink" href="index.html" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   その他</a>
                <div class="dropdown-menu" aria-labelledby="homeDropdownMenuLink">
                <a class="dropdown-item" href="/pages/how2use">ご利用方法</a>
                <a class="dropdown-item" href="/pages/pricing">Re I beautyの料金</a>
                <a class="dropdown-item" href="/pages/faq1">よくある質問(ユーザー向け)</a>
                <a class="dropdown-item" href="/pages/faq2">よくある質問(ビューティシャン向け)</a>
                <a class="dropdown-item" href="/pages/covid">新型コロナウイルス対策について</a>
                
                </div>
              </li>

<!-- ビューティシャンとしてログインしている時 -->
              <% if business_user_signed_in? && current_business_user.try(:cert?) %>

              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle " id="docsDropdownMenuLink" href="/posts" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   ビューティシャン募集</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="docsDropdownMenuLink">
                  <%= link_to '募集一覧', recruits_index_path, class:"dropdown-item" %>
              </li>
              <% end %>
              
            </ul>
          </div>
        </div>
      </nav>
      