<!DOCTYPE html>
  <html lang="ja">
    <body style="padding-top: 72px;">
      <div class="container-fluid px-3">
        <div class="row min-vh-100">
          <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
            <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
              <div class="mb-4"><%= link_to image_pack_tag("media/images/logo.svg", alt:"Re I beauty"), "/", class:"img-fluid mb-4", style:"max-width: 4rem;"%>
                <h2>ビューティシャン(施術者) 確認メール再送信</h2>
              </div>

              <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                <%= render "business_users/shared/error_messages", resource: resource %>

              <div class="field mb-4">
                <%= f.label :email, class:"form-label" %><span class="form-label">(半角で入力)</span>
                
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              </div>

              <div class="actions d-grid">
                <%= f.submit "確認メールを再送信", class:"btn btn-lg btn-primary text-secondary" %>
              </div>
              <% end %>

              <%= render "business_users/shared/links" %>

              <a class="close-absolute me-md-5 me-xl-6 pt-5" href="/"> <svg class="svg-icon w-3rem h-3rem"><use xlink:href="#close-1"> </use></svg></a>
            </div>
          </div>
          <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
            <!-- Image-->
            <div class="bg-cover h-100 me-n3" style="background-image: url(<%= asset_pack_path 'media/images/background.jpg' %>);"></div>
          </div>
        </div>
      </div>
      <!-- JavaScript files-->
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }    
        // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
        // use your own URL in production, please :)
        // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
        //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
        injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
  
      </script>

      <!-- Swiper Carousel                       -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
      <script>var basePath = ''</script>
  </body>
</html>