<!DOCTYPE html>
<html lang="ja">
  <head>
    <% content_for(:body_attributes) do %>
      data-turbolinks="false"
    <% end %>
    </head>
  <body style="padding-top: 72px;">


<h1>クレジットカード登録フォーム</h1>
<%= form_with url: cards_path, id: "card_form", local: true do |f| %>

  <br>
  a
  <br>
  a
  <br>
  a
  <br>
  <div>
    <br>
  <br>
  <br>a
  <br> a <br>
  <br>a
  <br>a
  <br>  <br>
  <br>a
  <br>a
  <br> a <br>
  <br>a
  <br>a
  <br> a <br>
  <br>aa
  <br>a

  <br>
  <div class="field">
    <%= f.label :number, "カード番号" %>
    <%= f.text_field :number %>
  </div>
    <div class="field">
    <%= f.label :name, "カード名義人" %>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :cvc, "セキュリティコード" %>
    <%= f.text_field :cvc, maxlength: "3" %>
  </div>
    <div class="field">
    <%= f.label :exp_month, "有効期限（月）" %>
    <%= f.text_field :exp_month, maxlength: "2" %>
  </div>

    <div class="field">
    <%= f.label :exp_year, "有効期限（年/2桁）" %>
    <%= f.text_field :exp_year, maxlength: "2" %>
  </div>
  <div class="actions">
    <%= f.submit "送信" %>
  </div>
<% end %>

<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
</body>
</html>