<!DOCTYPE html>
<html lang="ja">
  <body style="padding-top: 72px;">
    <%= form_with model: @recruit, local: true do |f| %>
<!--TODO: このビジネスユーザーが承認されているカテゴリのみ表示する-->
    <section class="py-5">
      <div class="container">
          <div class="row form-block">
            <div class="col-lg-4">
              <h4>興味のある施術カテゴリ</h4>
              <p class="text-muted text-sm">募集する施術カテゴリを右の一覧から選択してください。</p>
            </div>
            <div class="col-lg-7 ms-auto">
              <div class="mb-4">

                
                    <%= f.label :category_id, '施術カテゴリを選択', class: "form-label" %><br>
                    <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: "カテゴリ"}, {class: "text-muted form-select w-100"}) %>


              </div>
            </div>
          </div>
      </div>
    </section>


    <section class="py-5">
      <div class="container">

          <div class="row form-block">
            <div class="col-lg-4">
              <h4>施術情報</h4>
            </div>

            <div class="col-lg-7 ms-auto">
              <div class="mb-4">
                
                <div class="row">
                <div class="col-md-6">
                  <div class="mb-4 form-group">
                    <%= f.label :day, '募集する日', class: "form-label" %>
                    <%= f.date_field :day, class:"form-control" %>
                  </div>
                </div>
              </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-4 form-group">
                      <%= f.label :ward_id, '施術を受けるエリア', class: "form-label" %><br>
                      <%= f.collection_check_boxes :ward_id, Ward.all, :id, :name, class:"form-check" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-4 form-group">
                      <%= f.label :content, '募集コメント', class: "form-label" %>
                      <%= f.text_area :content, class:"form-control", rows: "4" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="mb-4">
                      <%= f.label :to_price, '募集する料金', class: "form-label" %>
                      <p class="form-label">最高費用</p><%= f.text_field :to_price, class:"form-control" %>
                    </div>
                  </div>
                </div>


            </div>
          </div>
      </div>
    </section>
    
    
    <section class="py-5">
      <div class="container">


        <div class="row form-block flex-column flex-sm-row">
          <div class="col text-center text-sm-start"><a class="btn btn-link text-muted" href="/"> <i class="fa-chevron-left fa me-2"></i>トップへ戻る</a>
          </div>
          <div class="col text-center text-sm-end actions">
          
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :user_name, value: current_user.name %>
            
            <%= f.submit '募集を登録する', class:"btn btn-primary text-secondary" %>
            <% end %>

          </div>
        </div>
      </div>
    </section>

    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
  </body>
</html>
