<!DOCTYPE html>
<html lang="ja">
<body style="padding-top: 72px;">
<div class="container-fluid px-3">
  <div class="row min-vh-100">
    <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
      <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
        <div class="mb-4"><%= link_to image_pack_tag("media/images/logo.svg", alt:"Re I beauty"), "/", class:"img-fluid mb-4", style:"max-width: 4rem;"%>
          <h2>ユーザー登録（利用者）</h2>
            
        </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <form class="form-validate">

              <div class="mb-4 field">
                <%= f.label :email, class:"form-label" %><span class="form-label">(半角で入力)</span>
                <%= f.email_field :email, autocomplete: "email", class:"form-control" %>
              </div>

              <div class="mb-4 field">
                <div class="field">
                  <%= f.label :password, class:"form-label" %>
                  <% if @minimum_password_length %>
                  <em class="form-label">(<%= @minimum_password_length %>文字以上、半角で入力)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
                </div>
              </div>

              <div class="mb-4 field">
                <%= f.label :password_confirmation, class:"form-label" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
              </div>

            <div class="field mb-4">
              <div class="form-check">
                <%= f.check_box :agreememt, {required: true, checked: false, id:'agree', :type=> 'checkbox'} , "true" , "false" %> <a href="/pages/terms" class='text-secondary'>利用規約</a>と<a href="/pages/terms" class='text-secondary'>プライバシーポリシー</a>に同意する

              </div>
            </div>

              <div class="d-grid gap-2 actions">
                <%= f.submit "登録", class:"btn btn-lg btn-primary text-secondary" %>
              </div>
            <% end %>
            

              <hr class="my-3 hr-text letter-spacing-2" data-content="OR">
              <div class="d-grid gap-2">
        
                <%= button_to 'ユーザーログイン', new_user_session_path, class:"btn btn-lg btn-primary text-secondary" %>
        
                <%= button_to user_google_oauth2_omniauth_authorize_path, {class: "btn btn btn-outline-muted btn-social"} do %>
                  <i class="fa-2x fa-google fab btn-social-icon"> </i> <span class="d-none d-sm-inline">Googleアカウントで登録</span>
                <% end %>

                <%= link_to user_line_omniauth_authorize_path, {method: :post} do %>
                  <button class="btn btn btn-outline-primary btn-social"><i class="fa-2x fa-line fab btn-social-icon"> </i> <span class="d-none d-sm-inline">LINEアカウントで登録</span></button>
                <% end %>

                
              </div>
              <hr class="my-4">
              <p class="text-sm text-muted">メールやSNSのアカウントで登録することにより<a href="#">利用規約</a> 、 <a href="#">プライバシーポリシー</a>に同意したものとみなされます。</p>
            </form><a class="close-absolute me-md-5 me-xl-6 pt-5" href="/"> 
              <svg class="svg-icon w-3rem h-3rem">
                <use xlink:href="#close-1"> </use>
              </svg></a>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 col-xl-7 d-none d-md-block">
          <!-- Image-->
          <div class="bg-cover h-100 me-n3" style="background-image: url(<%= asset_pack_path 'media/images/background.jpg' %>);"></div>
        </div>
      </div>
</div>


    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 

    </script>

    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>

  </body>
</html>